body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

ul {
  list-style-type:  none;
}

li {
  margin-bottom: 7px;
}

i.fa-check  {
  font-size: 20px;
  margin: 0 5px 0 -35px;
}

.main {
  padding: 0;
  margin: 0 15%;
}

.header {
  padding: 50px 50px 0px 50px;
  height: 215px;
  background-color: #445162;
  color: white;
}

.header__name {
  font-weight: normal;
  font-size: 48px;
  margin: -10px 0 25px 0;
}

.header__list {
  padding: 0;
}

.white__box {
  width: 380px;
  height: 170px;
  background-color: #fff;
  float: right;
  margin-top: -195px;
}

.grey__box {
  width: 350px;
  height: 200px;
  background-color: #445162;
  float: right;
  margin-top: -195px;
}

.about__product {
  padding: 15px 50px 0px 50px;
  height: 280px;
  background-color: #f9f9f9;
  color: #445162;
}

.about__product_name {
  font-weight: normal;
  font-size: 24px;
}

.about__text {
  width: 570px;
  font-size: 14px;
  line-height: 1.5;
}
